<!DOCTYPE html>
<html>
  <head>
    <title>Fileshare</title>
  </head>

  <body>
    <h1><a href="{{ url_for('fileshare') }}">Fileshare</a></h1>

    <form enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}">
      <label for="file">
        <input type="file" name="file" />
      </label>
      <input type="submit" value="Upload" />
    </form>

    <table>
      <thead>
        <tr>
          <th>Filename</th>
        </tr>
      </thead>
      <tbody>
      {% for file in files %}
        <tr>
          <td><a href="{{ url_for('download_file') }}">{{ file }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>

</html>
